/* Background image and gif */
body {
 background-image: url(https://cdn130.picsart.com/295794083242211.png?type=webp&to=min&r=640);
  background-color: rgb(130, 231, 192);
  mix-blend-mode: normal;
  background-size:contain;
}

.background{
 background-image: url(https://i.pinimg.com/originals/5c/7c/d6/5c7cd6368d22ac059c9aef589babc948.gif);
 background-size: cover;
}
.background * {
transition: all 1s;
transform: scale(1.5);
opacity: 0;
}

/* main flex container */
#main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* Welcome to Burgerburg */
.header{
  background-color:rgba(236, 240, 241, 0.87);
  font-family: 'Londrina Solid', cursive;
  font-size: 50px;
  color: purple;
  margin:10px;
  padding:8px;
  border-radius:10px;
}
/* Consume and Menu */
.row {
  display: flex;
  justify-content: space-around;
  align-items:center;
  width: 50vw;
  border-radius:10px;
  background-color:rgba(236, 240, 241, 0.87);
}
.consume{
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 12px;
}
.order{
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 12px;
  border-radius:10px;
}
/* gif style for eat this/order this */
.update {
  display:none;
  justify-content: center;
  height: 100px;
  border-radius: 50%;
}
/* gif style for this burger is trash */
.delete {
  display:none;
  justify-content: center;
  height: 100px;
}

/* update and delete gif */
img{
  width: 300px;
  height:300px;
}
/* Make a Beefy Creation */
.create {
  background-color:rgba(236, 240, 241, 0.87);
  display:flex;
  flex-direction: column;
  margin:10px;
  padding: 15px;
  border-radius:10px;

}
/* Handlbars made html appears in order or consume */
li {
  display:flex;
  flex-direction:column;
  align-items:center;
  list-style-type: none;
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-size: 26px;
  width: 200px;
  background-color:rgba(238, 168, 51, 0.26);
  border-radius: 4px
}
/* Update form */
.label {
  font-weight: bold;
}
/* HandlebarsForm style */
.create-update-form {
  padding: 5px;
  margin: 5px;
}
/* styling for form font */
.form-group {
  background-color:rgba(238, 168, 51, 0.26);
  margin-bottom: 5px;
  font-family: 'Patrick Hand', cursive;
  font-size:24px;
  padding: 5px;
}
/* form font */
.create-status {
  font-family: 'Patrick Hand', cursive;;
}
/* text in menu */
.menu{
  font-family: 'Londrina Solid', cursive;
  font-size: 42px;
  color: purple;
  margin:5px;
}
/* p tags font */
.text{
  font-family: 'Patrick Hand', cursive;
}
/* button styles*/
.change-consume{
  transition-duration: 0.4s;
  background-color: #97d5ee96;;
  color: purple;
  font-family: 'Patrick Hand', cursive;
  font-size: 24px;
  margin: 10px;
  padding: 8px;
  border-radius: 8px
}

.change-consume:hover{
background-color: purple;
  color:#97d5ee;
}

.delete-burger{
  transition-duration: 0.4s;
  background-color: red;
  color: yellow;
  font-family: 'Patrick Hand', cursive;
  font-size: 24px;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
}
.delete-burger:hover{
background-color: yellow;
  color: red;
}

.add{
  transition-duration: 0.4s;
  background-color: #97d5ee96;
  color: purple;
  font-family: 'Patrick Hand', cursive;
  font-size: 24px;
  margin: 10px;
  padding: 10px;
  border-radius: 4px
}
.add:hover{
  background-color: purple;
    color:#97d5ee;
  }